name: Scrape-to-S3
on:
  workflow_dispatch:
  schedule:
    - cron: "*/5 * * * *"

permissions:
  id-token: write
  contents: read

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ secrets.ACCOUNT_ID }}:role/${{ secrets.ROLE_NAME }}
          aws-region: ap-southeast-2

      - name: Fetch JSON
        run: |
          curl -s ${{ secrets.WGTI_URL }} > data.json

      - name: Upload to S3
        run: |
          aws s3 cp data.json s3://${{ secrets.BUCKET_NAME }}/WGTI/$(date -u +%Y/%m/%d/%H%M).json